@import "../../styles/";

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 2%;

  .title {
    color: green;
    margin: 1rem 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
