/* example: */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Layer 1: h1, h2, h3, div, span, p */
/* Layer 2: class .App-header */
/* Layer 3: id #Terry-container */

/* .Terry-header { } */

/* <div class="Terry-header" id="Terry-container"> </div> */

.main_title {
  font-size: small;
}
